body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 40px;
    background-color: #f4f4f4; /* 배경색 */
}

h1 {
    color: #333; /* 제목 색상 */
}

p {
    color: #555; /* 본문 색상 */
}
